{% extends "base.html" %}
{% block body %}
<div class="row">
	<div class='col-md-8'>
		<h2>What should this be</h2>
	</div>
</div>
<form method="post" id="scouting-form" autocomplete="off">
  {{ form.csrf_token }}
  <div class="row form-group">
		{{ form.match_id }}
		{{ form.team_id }}
  </div>
  <div class="row">  
    <div class="col-md-6">
      {% if conf.get('station', 'none').lower() == 'none' %}
        <div id="alert" class="alert alert-warning">No player station selected; team ID completion is not available.
        See {{link_to('config_form', 'Settings')}} to choose a station.</div>
      {% else %} 
        <div><label>Player Station: {{conf.get('station', '?')}}</label></div>
        <div><label>Event: {{conf.get('event_name', '?')}}</label></div>
        <div id="alert" class="alert" style="display: none;"></div>
      {% endif %}
    </div>
  </div>
  <div class="game-period">
  	<h3>Autonomous</h3>
  	<div class="row">
  		{{ form.auton_balls }}

  		<div class='col-md-3'>
  			{{ form.auton_high.label }} {{ form.auton_high }}
  		</div>
  		<div class='col-md-3'>
  			{{ form.auton_low.label }} {{ form.auton_low }}
  		</div>  		
  	</div>
  </div>
  <div class='game-period'>
  	<h3>Teleop</h3>
  	<div class='row'>
  		{{ form.high }}
  		{{ form.high_miss }}
  		{{ form.low }}
  	</div>
  	<div class='row'>
  		<div class='col-md-12 horiz-align'>
  			{{ form.low_speed.label }} {{ form.low_speed }}
  		</div>
  	</div>
  </br>
  	<div class='row'>
  		<div class='col-md-12 horiz-align'>
  			{{ form.pass_truss.label }} {{ form.pass_truss }}
  		</div>
  	</div>
  	<div class='row'>
  		<div class='col-md-12 horiz-align'>
  			{{ form.pass_ranged.label }} {{ form.pass_ranged }}
  		</div>
  	</div>
  </br>  	
  	<div class='row'>
  		{{ form.fouls }}
  		{{ form.tfouls }}
  	</div>
  	<div class='row'>
  		<div class='col-md-8 horiz-align'>
  			{{ form.defense.label }} {{ form.defense }}
  		</div>
  	</div>
  	<div class='row'>
  		<div class='col-md-2'>
  			<p>Catching:</p>
  			<div class='row'>
  				{{ form.catch_truss }}
  			</div>
  			<div class='row'>
  				{{ form.catch_ranged }}
  			</div>
  			<div class='row'>
  				{{ form.catch_human }}
  			</div>
  		</div>
  		<div class='col-md-6'>
  			{{ form.result.label }} {{ form.result }}
  		</div>
  	</div>
  	<div class='row'>
  		<div class='col-md-1'>
  			<p>Comments:</p>
  		</div>
  		<div class='col-md-8'>
  			{{ form.comments(rows='3') }}
  		</div>
  	</div>
  </div>
  <div class="row">
    <div class="col-md-4"><input type="submit" class="btn btn-primary" value="Save"></div>
  </div>
</form>
{% endblock %}